.container{
    margin:10px;
    width: 300px;
    margin-bottom: 30px;
    background-color: #ececec;
    border-radius:10px;
    overflow: hidden;
    box-shadow: 5px 5px 10px rgb(189,189,189);
}
.container img {
    width: 300px;
    height:200px
    
}
.container h3{
    color: #696969;
    margin:30px 20px 20px;
}
.container p{
    margin:0 25px 20px;
    background-color:rgb(10, 145 ,46);
    width: fit-content;
    padding:5px;
    border-radius: 5px;
    margin:10px
}
.counter{
    display:flex;
    align-items: center;
    justify-content: left;
    border-top: 1px solid #000;
    padding:30px 0;
}
.counter img{
    width:30px;
    height:fit-content;
    margin:15px;
    transform: rotate(90deg);

}
.counter span{
    background:#30c0e4;
    padding:10px;
    border-radius: 10px;
}
.deactive {
  opacity:0.2;
}
