.container{
    width: 100%;
    position: relative;
}

.img{
    width: 100%;
}
.textContainer{
    position: absolute;
    top:150px;
    left:100px;
    
}
.textContainer h1{
    font-size: 5rem;
    color: #30c0e4;
}